<% provide(:title, "Log in") %>
<div role="main" class="main">

  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Login</h2>
        </div>
      </div>
    </div>
  </section>

  <div class="container">



    <div class="row">
      <div class="col-md-12">

        <div class="row featured-boxes login">
          <div class="col-md-6">
            <div class="featured-box featured-box-secundary default info-content">
              <div class="box-content">
                <h4>Login / Sign in</h4>
                <% flash.each do |key, value| %>
                    <%= content_tag :div, value, class: "alert alert-danger" %>
                  <% end %>
                  <%= form_for(:user, url: login_path) do |f| %>
                    <div class="row">
                      <div class="form-group">
                        <div class="col-md-12">
                          <%= f.label :username %>
                          <%= f.text_field :username , :class => 'form-control' %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <div class="col-md-12">
                          <%= f.label :password %>
                          <%= f.password_field :password , :class => 'form-control'%>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.submit "Log in", class: "btn btn-primary pull-right push-bottom" %>
                        <% end %>
                      </div>
                    </div>
                    <p class="sign-up-info">Don't have an account yet? </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
